# spider configuration

# 配置数据库
[db_param]
host=10.188.88.88
database=pythondb
user=xsl
password=xsl
port=5432
DBType=PostgreSQL

# 配置chromedriver 路径
[chromedriver]
chromedriver_path=/usr/local/share/chromedriver


# 获取的html存储的文件路径
[htmlpath]
html_path=/home/xsl/下载/
